<div class="container-fluid">

	<div class="col-md-6">
		<form>
			<h4>Sign Up</h4>
		  	<div class="form-group">
		    	<label for="signupEmail">Email address</label>
		    	<input type="email" class="form-control" id="signupEmail" placeholder="Email" ng-model="signup.email">
		  	</div>
		  	<div class="form-group">
		    	<label for="signupPassword">Password</label>
		    	<input type="password" class="form-control" id="signupPassword" ng-model="signup.password" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default" ng-click="signupFunction()">Sign Up</button>
		</form>
	</div>

	<div class="col-md-6">
		<form>
		<h4>Login</h4>
		  <div class="form-group">
		    <label for="loginEmail">Email address</label>
		    <input type="email" class="form-control" id="loginEmail" ng-model="login.email" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="loginPassword">Password</label>
		    <input type="password" class="form-control" id="loginPassword" ng-model="login.password" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-default" ng-click="loginFunction()">Sign In</button>
		</form>
	</div>
</div>